#tagline {
margin-top: -30px;
font-size: 1.5em;
font-style: italic;
}
.container {
border: solid 1px green;
padding: 1%;
margin: 0 10%;
}

.grey_box {
// background-color: #ccc;
margin-bottom: 10px;
}

ul {
list-style: none;
}

li input {
margin: 0 15px 0 0;
}

.deleteListItem {
margin: 0 0 0 10px;
position: relative; /* move it down slightly from where it would */
top: 3px; /* naturally appear */
border-radius: 3px;
border: 1px solid gray;
}

.completed {
text-decoration: line-through;
color: gray;
}
